@import "variables.scss";

.customize-control-indro_builder_control {
	border: 0 !important;
}

// Areas
.indro-builder-items {
	padding: 10px 20px;
}

.indro-builder-sortable-panel {
	min-height: 44px;
	display: flex;
	flex: 1;
	align-items: center;
}

.indro-builder-item {
	line-height: 32px;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	height: auto;
	min-width: 80px;
	background: white;
	position: relative;
	border: 1px solid $color-gray-500;
	white-space: nowrap;
	position: relative;
	cursor: grab;
	margin: 0 4px;
	padding: 0 12px;
	border-radius: 3px;

	>.indro-builder-item-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		right: 0;
		cursor: pointer;
		margin-right: -10px;
		width: 28px;
		height: 28px;
		color: $color-gray-600;
		background: transparent;
		border: 0;
		padding: 0;
		margin-left: 8px;
	}
}

.indro-builder-item.sortable-ghost {
	opacity: 0.4;
	box-shadow: none;
	opacity: 0.6;
	font-size: 0;
	border: 1px dashed #9c9c9c;
	background: rgba(0, 0, 0, 0.015);
	background: rgba(0, 124, 186, 0.25);

	.indro-builder-item-icon {
		display: none;
	}
}

.indro-builder-item.sortable-drag {
	box-shadow: 0 5px 20px -5px rgba(104, 104, 104, 0.4), inset 3px 0px 0px $color-primary;
	z-index: 999999 !important;

	.indro-builder-item-icon:not(.indro-move-icon) {
		display: none;
	}
}

.indro-builder-item-start {
	margin-bottom: 10px;
	min-height: 34px;
	display: flex;

	.indro-builder-item {
		flex: 1;
		display: flex;
		width: 100%;
		box-sizing: border-box;

		&.sortable-drag {
			width: auto;
		}
	}
}

#accordion-section-indro_customizer_header_builder {
	display: none !important;
}

#accordion-section-indro_customizer_footer_builder {
	display: none !important;
}

// Tabs
.indro-build-tabs {
	border-bottom: 4px solid #ddd;
	margin: 0;
	padding-top: 9px;
	padding-bottom: 0;
	line-height: inherit;
	display: flex;
	padding: 0 12px;
}

.indro-build-tabs .nav-tab {
	font-size: 14px;
	line-height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 11px;
	font-weight: 600;
	font-style: normal;
	text-transform: uppercase;
	height: 40px;
	margin: 0;
	margin-bottom: -4px;
	padding: 0 18px;
	cursor: pointer;
	border: 0;
	box-sizing: content-box;
	border-bottom: 4px solid #ddd;
	border-radius: 0;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;

	.dashicons.dashicons-desktop {
		font-size: 14px;
		height: auto;
	}

	&:not(.nav-tab-active):hover {
		background: #e5e5e5 !important;
		color: #444 !important;
		border-bottom-color: #f9f9f9;
	}

	&:hover {
		box-shadow: none !important;
	}

	&:not(:first-child) {
		margin-left: 8px;
	}
}

.indro-build-tabs .nav-tab.nav-tab-active {
	border-bottom-color: #007cba;
	background: #f9f9f9;
	color: #000;
}

// Builder Container Area
#customize-theme-controls #sub-accordion-section-indro_customizer_header_builder,
#customize-theme-controls #sub-accordion-section-indro_customizer_footer_builder {
	position: fixed !important;
	top: auto;
	left: 300px;
	right: 0;
	background: #eee;
	border-top: 1px solid $color-gray-500;
	bottom: 0;
	visibility: visible;
	height: auto;
	width: auto;
	padding: 0;
	max-height: 60%;
	overflow: auto;
	transform: translateY(100%);
	transition: transform 0.1s ease;
	backface-visibility: hidden;
}

@media (min-width: 1660px) {

	#customize-theme-controls #sub-accordion-section-indro_customizer_header_builder,
	#customize-theme-controls #sub-accordion-section-indro_customizer_footer_builder {
		left: 18%;
	}
}

#customize-theme-controls #sub-accordion-section-indro_customizer_header_builder.indro-builder-active,
#customize-theme-controls #sub-accordion-section-indro_customizer_footer_builder.indro-footer-builder-active {
	transform: translateY(0%);
	visibility: visible;
	overflow: visible;
}

#customize-theme-controls #sub-accordion-section-indro_customizer_header_builder.indro-builder-active.indro-builder-hide,
#customize-theme-controls #sub-accordion-section-indro_customizer_footer_builder.indro-footer-builder-active.indro-builder-hide {
	transform: translateY(100%) !important;
	overflow: visible;
}

.indro-builder-active>li.customize-section-description-container,
.indro-footer-builder-active>li.customize-section-description-container {
	display: none !important;
}

.indro-builder-areas .indro-builder-group-horizontal {
	display: flex;
	margin-bottom: 15px;
	border: 1px dashed $color-gray-500;
	background: #f7f7f7;

	.indro-builder-area {
		display: flex;
	}

	.indro-builder-area-left,
	.indro-builder-area-right {
		flex: 1 1 0%;
	}

	.indro-builder-area-right .indro-builder-drop-right,
	.indro-builder-drop-left_center {
		justify-content: flex-end;
	}

	.indro-builder-drop-left_center,
	.indro-builder-drop-right_center {
		width: 0px;
		flex: 0;
		overflow: hidden;
	}

	.indro-builder-area-center {
		min-width: 80px;
		border-left: 1px dashed $color-gray-500;
		border-right: 1px dashed $color-gray-500;

		.indro-builder-sortable-panel {
			justify-content: center;
		}
	}

	.indro-builder-area-center.indro-dragging-dropzones {
		min-width: 120px;
	}
}

.indro-builder-areas.has-center-items {

	.indro-builder-drop-left_center,
	.indro-builder-drop-right_center {
		width: auto;
		flex: 1;
		overflow: auto;
	}

	.indro-dragging-dropzones .indro-builder-drop-left_center {
		min-width: 100px;
		border-left: 1px dashed $color-gray-500;
	}

	.indro-dragging-dropzones .indro-builder-drop-right_center {
		min-width: 100px;
		border-right: 1px dashed $color-gray-500;
	}

	.indro-builder-area-center {
		min-width: 120px;
		border-left: 1px dashed $color-gray-500;
		border-right: 1px dashed $color-gray-500;
	}
}

.indro-builder-areas .indro-small-label {
	display: none;
}

.indro-builder-areas.popup-vertical-group {
	width: 200px;
	padding-right: 20px;

	.indro-builder-group {
		height: 100%;
		margin-bottom: 0;
	}
}

.indro-builder-areas.popup-vertical-group .indro-builder-area {
	flex: auto;
	flex-direction: column;

	.indro-builder-sortable-panel {
		min-height: 115px;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;

		.indro-builder-item {
			width: 90%;
			margin-top: 4px;
			margin-bottom: 4px;
			box-sizing: border-box;
		}
	}
}

.indro-builder-item-start button.indro-builder-item {
	border: 1px dashed #bbb;
	background: #f2f2f2;
	cursor: pointer;
	box-shadow: none !important;
}

.indro-builder-item-start button.indro-builder-item:hover {
	border: 1px dashed #a2a2a2;
	background: #f9f9f9 !important;
}

// Footer.
.indro-footer-builder-is-active .in-sub-panel:not(.section-open) ul#sub-accordion-section-indro_customizer_footer_layout,
.indro-builder-is-active .in-sub-panel:not(.section-open) ul#sub-accordion-section-indro_customizer_header_layout {
	transform: none;
	height: auto;
	visibility: visible;
	top: 75px;
}

.indro-footer-builder-is-active .in-sub-panel:not(.section-open) ul#sub-accordion-section-indro_customizer_footer_layout .customize-section-description-container.section-meta,
.indro-builder-is-active .in-sub-panel:not(.section-open) ul#sub-accordion-section-indro_customizer_header_layout .customize-section-description-container.section-meta {
	display: none;
}

.indro-footer-builder-is-active .in-sub-panel:not(.section-open) #sub-accordion-section-indro_customizer_footer_layout .customize-section-description-container,
.indro-builder-is-active .in-sub-panel:not(.section-open) ul#sub-accordion-section-indro_customizer_header_layout .customize-section-description-container {
	display: none;
}

.indro-footer-builder-is-active .in-sub-panel:not(.section-open) #sub-accordion-panel-indro_customizer_footer .accordion-section.control-section,
.indro-builder-is-active .in-sub-panel:not(.section-open) #sub-accordion-panel-indro_customizer_header .accordion-section.control-section {
	display: none !important;
}

.indro-footer-builder-is-active .preview-desktop #customize-preview,
.indro-footer-builder-is-active .preview-tablet #customize-preview,
.indro-builder-is-active .preview-desktop #customize-preview,
.indro-builder-is-active .preview-tablet #customize-preview {
	height: auto;
}

#customize-control-header_mobile_items .indro-builder-items {
	display: flex;
}

#customize-control-header_mobile_items .indro-builder-row-items {
	flex: 1;
}

.indro-builder-areas button.components-button.indro-row-actions {
	background: $color-primary;
	color: #c8dbe4;
	text-transform: uppercase;
	font-size: 10px;
	height: auto;
	line-height: 26px;
	border-radius: 0;
	position: absolute;
	top: -26px;
	border: 0;
	opacity: 0;
	height: 26px;
	padding-top: 0;
	padding-bottom: 0;
	z-index: 10;
}

.indro-builder-areas:hover button.components-button.indro-row-actions {
	opacity: 1;
}

.indro-builder-areas button.components-button.indro-row-actions svg {
	width: 10px;
	margin-left: 8px;
}

.indro-builder-areas button.components-button.indro-row-actions .dashicons {
	width: 10px;
	font-size: 10px;
	height: 10px;
	margin-left: 8px;
}

.indro-builder-areas button.components-button.indro-row-actions:hover,
.indro-builder-areas button.components-button.indro-row-actions:focus {
	background: $color-primary !important;
	color: white !important;
	box-shadow: none !important;
}

.indro-builder-areas {
	position: relative;
}

.indro-builder-areas:hover .indro-builder-group-horizontal {
	border: 1px solid $color-primary;
}

.indro-builder-group.indro-builder-group-horizontal[data-setting="bottom"] {
	margin-bottom: 0;
}

.footer-column-row .indro-builder-area {
	flex: 1;
	border-right: 1px dashed #A0AEC0;

	.indro-builder-sortable-panel {
		justify-content: center;
	}

	&:first-child .indro-builder-sortable-panel {
		justify-content: flex-start;
	}

	&:last-child .indro-builder-sortable-panel {
		justify-content: flex-end;
	}
}

.footer-column-row .indro-builder-area:last-child {
	border-right: 0;
}

#sub-accordion-section-indro_customizer_footer_builder .customize-control-indro_blank_control .indro-builder-tab-toggle {
	top: -4px;
}

#sub-accordion-section-indro_customizer_footer_builder .customize-control-indro_blank_control .indro-builder-show-button.indro-builder-tab-toggle {
	top: auto;
}

.footer-row-columns-2 {
	&.footer-row-layout-left-golden {
		.indro-builder-area-1 {
			flex: 0 1 66.67%;
		}

		.indro-builder-area-2 {
			flex: 0 1 33.33%;
		}
	}

	&.footer-row-layout-right-golden {
		.indro-builder-area-1 {
			flex: 0 1 33.33%;
		}

		.indro-builder-area-2 {
			flex: 0 1 66.67%;
		}
	}
}

.footer-row-columns-3 {
	&.footer-row-layout-left-half {
		.indro-builder-area {
			flex: 0 1 25%;
		}

		.indro-builder-area-1 {
			flex: 0 1 50%;
		}
	}

	&.footer-row-layout-right-half {
		.indro-builder-area {
			flex: 0 1 25%;
		}

		.indro-builder-area-3 {
			flex: 0 1 50%;
		}
	}

	&.footer-row-layout-center-half {
		.indro-builder-area {
			flex: 0 1 25%;
		}

		.indro-builder-area-2 {
			flex: 0 1 50%;
		}
	}

	&.footer-row-layout-center-wide {
		.indro-builder-area {
			flex: 0 1 20%;
		}

		.indro-builder-area-2 {
			flex: 0 1 60%;
		}
	}

	&.footer-row-layout-center-exwide {
		.indro-builder-area {
			flex: 0 1 15%;
		}

		.indro-builder-area-2 {
			flex: 0 1 70%;
		}
	}
}

.footer-row-columns-4 {
	&.footer-row-layout-left-forty {
		.indro-builder-area {
			flex: 1;
		}

		.indro-builder-area-1 {
			flex: 2;
		}
	}

	&.footer-row-layout-right-forty {
		.indro-builder-area {
			flex: 1;
		}

		.indro-builder-area-4 {
			flex: 2;
		}
	}
}

.footer-column-row.footer-row-columns-1 .indro-builder-area:last-child .indro-builder-sortable-panel {
	justify-content: center;
}

.indro-builder-areas.footer-row-direction-column .indro-builder-group-horizontal .indro-builder-area .indro-builder-drop {
	flex-direction: column;
	align-items: normal;
}

.indro-builder-areas.footer-row-direction-column .indro-builder-group-horizontal .indro-builder-area .indro-builder-drop .indro-builder-item {
	margin: 4px;
}

.indro-builder-item-start .indro-builder-item {
	border-left: 3px solid $color-primary;
}

.indro-builder-item-start button.indro-builder-item {
	border: 1px solid #fff;
	background: #fff;
}

.indro-builder-item-start button.indro-builder-item:hover {
	border: 1px solid #fff;
	background: #fff !important;
}

.indro-builder-item-start .indro-builder-item:hover>.indro-builder-item-icon {
	color: $color-primary;
}

.indro-builder-item>.indro-builder-item-icon.indro-move-icon {
	margin-left: -10px;
	transform: rotate(90deg);
	margin-right: 0;
	cursor: grab;
	width: 18px;
	opacity: 0.7;
}

.indro-builder-item-text {
	flex-grow: 1;
}

.indro-builder-item-start.indro-move-item .indro-builder-item {
	justify-content: flex-start
}

.customize-control:not(.customize-control-indro_blank_control)+.customize-control#customize-control-header_mobile_available_items {
	padding-top: 0;
	border-top: 0;
}

.indro-available-items-pool {
	min-width: 80px;
	border: 1px dashed #A0AEC0;
	padding: 20px 10px 10px;
}

.indro-available-items-title {
	padding: 10px 0;
}

.indro-builder-item>.indro-builder-item-icon.indro-builder-item-focus-icon svg {
	width: 14px;
}

.indro-builder-item>.indro-builder-item-icon.indro-builder-item-focus-icon .dashicon {
	font-size: 14px;
	width: 14px;
	height: 14px;
}

.indro-builder-area .indro-builder-add-item {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.indro-builder-area {
	position: relative;

	.indro-builder-item {
		z-index: 10;
	}
}

.indro-builder-area .indro-builder-item-add-icon {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: transparent;
	border: 0;
	height: auto;
	width: auto;
	padding: 0;
	min-width: 100%;
	z-index: 1;
	transition: all .2s ease-in-out;
	color: transparent !important;

	&:hover,
	&:focus {
		color: #444 !important;
		background: rgba(0, 124, 186, 0.05) !important;
		box-shadow: none !important;
		border: 0 !important;
	}
}

.components-popover.indro-popover-add-builder {
	left: 50% !important;
	top: 0 !important;
	position: absolute;
	bottom: auto;
}

.components-popover__content .indro-popover-builder-list .indro-radio-container-control {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	width: 300px;
}

.indro-popover-builder-list {
	padding: 0 10px;

	.indro-radio-container-control button.components-button.is-tertiary {
		font-size: 10px;
		margin: 0;
	}
}

.indro-builder-area .indro-builder-item-add-icon svg {
	margin-top: 5px;
}

.indro-builder-area-center .indro-builder-drop-center .indro-builder-item:first-child {
	margin-left: 25px;
}

.indro-builder-area-center .indro-builder-drop-center .indro-builder-item:last-child {
	margin-right: 25px;
}

.indro-builder-areas.has-center-items .indro-builder-add-item.center-on-right {
	right: 50%;
}

.indro-builder-areas.has-center-items .indro-builder-add-item.center-on-right .indro-builder-item-add-icon {
	text-align: right;
	padding-right: 30px;
}

.indro-builder-areas.has-center-items .indro-builder-add-item.center-on-left {
	left: 50%;
}

.indro-builder-areas.has-center-items .indro-builder-add-item.center-on-left .indro-builder-item-add-icon {
	text-align: left;
	padding-left: 30px;
}

.indro-builder-area .indro-builder-add-item.left-center-on-left,
.indro-builder-area .indro-builder-add-item.right-center-on-right {
	display: none;
}

.indro-builder-areas.has-center-items .indro-builder-add-item.left-center-on-left {
	display: block;
	right: 50%;
}

.indro-builder-areas.has-center-items .indro-builder-add-item.right-center-on-right {
	display: block;
	left: 50%;
}